ЗДЕСЬ МЫ РАЗРАБАТЫВЕМ ЛИНЕЙНУЮ МОДЕЛЬ ДЛЯ БОЛЕЕ ТОЧНОГО РАССЧЕТА СКОРОВ
Предлагается взять данные из статьи 2018, расширить пространство параметров, которые подаются на вход модели при обучении и выбрать часть данных, которая нам нужна (нужные файлы)

In [ ]:
!pip install biopython

In [ ]:
!wget http://rna.urmc.rochester.edu/Releases/current/RNAstructureLinuxTextInterfaces64bit.tgz

In [ ]:
!wget 'https://static-content.springer.com/esm/art%3A10.1038%2Fnbt.4061/MediaObjects/41587_2018_BFnbt4061_MOESM39_ESM.xlsx' -O table1.xlsx

In [ ]:
!git clone https://github.com/MyungjaeSong/Paired-Library.git

In [7]:
import pandas as pd
from Bio.Seq import Seq

Экспрот данных их статьи https://doi.org/10.1038/nbt.4061

In [8]:
data = pd.read_excel('table1.xlsx', header=1).iloc[:-2]
data.columns = [
    '50bp_seq',
    '34bp_seq',
    'guide_seq',
    'indel_freq_background',
    'indel_read_count_background',
    'total_read_count_background',
    'indel_freq_delivered',
    'indel_read_count_delivered',
    'total_read_count_delivered',
    'indel_freq_background_subtracted'
]
data

                                                50bp_seq  ... indel_freq_background_subtracted
0      TGCGCGAGCGTTTAAAAAACATCGAACGCATCTGCTGCCTAGCTTG...  ...                        14.711302
1      CTAAAGAAACTTTAAAAATCTTTTCTGCCAGATCTCCAGAAGCTTG...  ...                         0.238095
2      TTGCCATTGTTTTAAAACAGGTTCTGTACTTGATCTCTCCAGCTTG...  ...                        88.079746
3      TTGCACATATTTTAAAACTGAGTTCAAAGACCACTCTTCCAGCTTG...  ...                        75.392670
4      TAGACTAATGTTTAAAAGCAAGTGCAAGTCTTTGGAATCTAGCTTG...  ...                        63.320080
...                                                  ...  ...                              ...
14995  TCCATCTTCATTTTTTTTGTAGAGTAGGGCTTTATTTCCAAGCTTG...  ...                        -0.467290
14996  CCTTCTCTCCTTTTTTTTTCAAGATCTGATTCTTCTTGCAAGCTTG...  ...                         0.000000
14997  CCAGGACTTGTTTTTTTTTCAATCTGTTCATCTTGGACCAAGCTTG...  ...                         0.239006
14998  ACCATCATAATTTTTTTTTGCAACATAGCCATTTCTTTTTAGCTTG...  ...                        -0.272826
14999  GAGCGCTTCTTTTTTTTTTTCGGGGTCTCGTTGCTGGGCGAGCTTG...  ...                        -2.766164

[15000 rows x 10 columns]

Расширение параметров - анализ ГЦ-состава, полиандениновых районов, анализ вторичной структуры

In [9]:
# Set GC content and AAA content
data['rna']=0
data['GC_content']=0
data['AAA_content']=0
for index, row in data.iterrows():
  rna=Seq(str(row['guide_seq'])).complement().transcribe() 
  data['GC_content'].iloc[index]=(rna.count("G")+rna.count("C"))/len(rna)
  data['AAA_content'].iloc[index]=(rna.count("AAA"))
  data['rna'].iloc[index]=str(rna)

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [ ]:
!wget https://www.tbi.univie.ac.at/RNA/download/sourcecode/2_4_x/ViennaRNA-2.4.17.tar.gz
!tar -zxvf ViennaRNA-2.4.17.tar.gz
!cd ViennaRNA-2.4.17 ; ./configure; make ; sudo make install
import sys
sys.path.append("/content/ViennaRNA-2.4.17/interfaces/Python3/RNA")
import _RNA as RNA
import csv

In [12]:
# Measure secondary strucute elements content
data['sec_str']=0
for index, row in data.iterrows():
  (ss, mfe) = RNA.fold(str(row['rna']))
  data['sec_str'].iloc[index]=ss.count('.')

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [13]:
data

                                                50bp_seq  ... sec_str
0      TGCGCGAGCGTTTAAAAAACATCGAACGCATCTGCTGCCTAGCTTG...  ...      20
1      CTAAAGAAACTTTAAAAATCTTTTCTGCCAGATCTCCAGAAGCTTG...  ...      12
2      TTGCCATTGTTTTAAAACAGGTTCTGTACTTGATCTCTCCAGCTTG...  ...      12
3      TTGCACATATTTTAAAACTGAGTTCAAAGACCACTCTTCCAGCTTG...  ...      20
4      TAGACTAATGTTTAAAAGCAAGTGCAAGTCTTTGGAATCTAGCTTG...  ...      20
...                                                  ...  ...     ...
14995  TCCATCTTCATTTTTTTTGTAGAGTAGGGCTTTATTTCCAAGCTTG...  ...      20
14996  CCTTCTCTCCTTTTTTTTTCAAGATCTGATTCTTCTTGCAAGCTTG...  ...      12
14997  CCAGGACTTGTTTTTTTTTCAATCTGTTCATCTTGGACCAAGCTTG...  ...      20
14998  ACCATCATAATTTTTTTTTGCAACATAGCCATTTCTTTTTAGCTTG...  ...      16
14999  GAGCGCTTCTTTTTTTTTTTCGGGGTCTCGTTGCTGGGCGAGCTTG...  ...      16

[15000 rows x 14 columns]

Выберем часть данных, содержащие нужные ПАМы

In [10]:
data['pam'] = data['34bp_seq'].map(lambda x: x[4:9])
pampam = data[data['pam'].str.match('TT[GT]GT')]
pampam

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                                                50bp_seq  ...    pam
10208  CTGGTACCAATTTGTAAACAATATCTTGCATGGTTCTGTCAGCTTG...  ...  TTTGT
10209  AGGCAATCTCTTTGTAAACCGGGTCACTGAAGTCACTCGCAGCTTG...  ...  TTTGT
10210  ATTGAAGATATTTGTAACAGTTCTTTGATATTTGGTGATCAGCTTG...  ...  TTTGT
10211  TTCCAGATAATTTGTAACATATGCATAAGAGGCACAGATCAGCTTG...  ...  TTTGT
10212  CCAACTGTGATTTGTAACTCCATTTCATGCTTCCTCTCTCAGCTTG...  ...  TTTGT
...                                                  ...  ...    ...
11360  CTACCGAGGCTTTGTTTTTGGCCGACGTCTCCATGAAGGGAGCTTG...  ...  TTTGT
11361  GCCTAACTCATTTGTTTTTGGGCTGCGAAGCCATGTAGAGAGCTTG...  ...  TTTGT
11362  TAAAATGACATTTGTTTTTGTGATTCTGTTGTTTATTTTCAGCTTG...  ...  TTTGT
11363  CTAAGTCTCATTTGTTTTTTCTTCAAGCTGTGGTTTAACCAGCTTG...  ...  TTTGT
11364  TTGCTGTGCATTTGTTTTTTTCTGACACTGGGGCCCTATGAGCTTG...  ...  TTTGT

[1157 rows x 15 columns]

Вот эту таблицу данных мы используем для обучения и тестирования линейной модели, для уточнения скоров (TODO)

ПОИСК ОФФ-ТАРГЕТОВ 
1. Найдем все ПАМы на примере некоторой хромосомы некоторого организма
2. Необходимо скачать фаста-файл из БД и положить в текущую директорию

In [14]:
import Bio

In [15]:
from Bio import SeqIO

for s_record in SeqIO.parse('sequence.fasta','fasta'):
    name = s_record.id
    seq = s_record.seq
    seqLen = len(s_record)
    print(name,seqLen)
genome=seq

NC_001133.9 230218

In [16]:
pam1='TTTGT'
pam2='TTGGT'

In [18]:
#from Bio import Align
#aligner = Align.PairwiseAligner()
#aligner.match_score = 1.0
#aligner.mismatch_score = 0
#aligner.gap_score = 0
#alignments1 = aligner.align(pam1, genome)
#alignments2 = aligner.align(pam2, genome)

In [31]:
j=0
for i in range(230213):
  if genome[i:i+5]==pam1:
    j=j+1
print("I found %s PAMs %s in yesst 1 chromosome"%(j, pam1))

I found 499 PAMs TTTGT in yesst 1 chromosome

In [32]:
j=0
for i in range(230213):
  if genome[i:i+5]==pam2:
    j=j+1
print("I found %s PAMs %s in yesst 1 chromosome"%(j, pam1))

I found 419 PAMs TTTGT in yesst 1 chromosome